/* Header.css */  
.app-header {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    padding: 20px;  
    background-color: #000F08; /* Night */  
}  

.app-logo {  
    height: 50px;  
    margin-right: 20px;  
}  

.app-title {  
    font-size: 1.8em;  
    color: #F4FFF8; /* Mint cream */  
}