.navbar {  
  background-color: #000F08; /* Night */  
  overflow: hidden;  
}  

.navbar ul {  
  list-style-type: none;  
  margin: 0;  
  padding: 0;  
  display: flex;  
}  

.navbar li {  
  float: left;  
}  

.navbar li a {  
  display: block;  
  color: #F4FFF8; /* Mint cream */  
  text-align: center;  
  padding: 14px 16px;  
  text-decoration: none;  
}  

.navbar li a:hover {  
  background-color: #F4D9CF; /* Pale Dogwood */  
  color: #000F08; /* Night */  
}