/*  // written by: Sandra*/

table {  
  width: 100%;  
  border-collapse: collapse;  
}  

th, td {  
  border: 1px solid #ddd;  
  padding: 8px;  
  text-align: center;  
}  

.available {  
  background-color: #57886C; /* Viridian */  
}  

.unavailable {  
  background-color: #F4D9CF; /* Pale Dogwood */  
}  

table {  
  border-collapse: collapse;  
}  
 
td, th {  
  width: 60px;  
  height: 30px;  
  border: 1px solid #ccc;  
  text-align: center;  
}  
 
td.selected {  
  background-color: #A6C4B2; /* Ash gray */  
}